<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">
  <targets>
    <target xsi:type="File"
            name="errorFile"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/error.log"
            layout="${longdate}
level=${uppercase:${level}}
logger=${logger}
message=${message}
exception=${exception:format=tostring}
url=${aspnet-request-url}
method=${aspnet-request-method}
trace=${aspnet-traceidentifier}
------------------------------------------------------------"
            encoding="utf-8"
            keepFileOpen="false"
            concurrentWrites="true" />
    <target xsi:type="File"
            name="startupFile"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/startup.log"
            layout="${longdate}
level=${uppercase:${level}}
logger=${logger}
message=${message}
------------------------------------------------------------"
            encoding="utf-8"
            keepFileOpen="false"
            concurrentWrites="true" />
  </targets>

  <rules>
    <logger name="Startup" minlevel="Info" writeTo="startupFile" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
